:root {
  /* Colors */
  --color-primary: #7C5CFC;
  --color-bg: #0F1117;
  --color-bg-light: #2A2F42;
  --color-surface: #161A23;
  --color-card: #1C2130;
  --color-border: #2A2F42;
  --color-border-light: #454d6a;

  --color-text-primary: #E5E7EB;
  --color-text-secondary: #9CA3AF;
  --color-text-hover: #7C5CFC;

  --color-success: #22C55E;
  --color-warning: #FACC15;
  --color-danger: #EF4444;

  /* Texto */
  --text-xs: 6px;
  --text-sm: 8px;
  --text-md: 16px;
  --text-lg: 24px;
  --text-xl: 32px;

  --text-w-light: 300;
  --text-w-regular: 400;
  --text-w-medium: 500;
  --text-w-bold: 600;

  /* Radius */
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 24px;

  /* Spacing */
  --space-xxs: 2px;
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  background: var(--color-bg);
  color: var(--color-text-primary);
}
